/*-----------------------------------------------------------------------------
    Footer
    -----------------------------------------------------------------------------*/
 /*
    footer.footer-travellover-top {background-color: #f91549;font-size: 12px;}
    footer.footer-travellover-top .container{padding: 20px 0px;}
    footer.footer-travellover-top h4{color: #fff; margin-bottom: 5px;font-size: 14px;}
    footer.footer-travellover-top .list-footer li a{ color: #94C6FC; }
    footer.footer-travellover-top .list-footer li a:hover {color: #fff !important;}
    footer.no-tlf-travellover{color: #FE8825;font-size: 23px;font-weight: 600;margin-bottom: 0px;}

    .subscribe-footer{background-color: #0154A4;padding: 20px 15px;margin: 5px 0px; }
    .subscribe-footer .title{font-size: 14px;color: #FE8825;font-weight: 500;}
    .subscribe-footer .sub-title{color: #94C6FC;margin-bottom: 10px;}
    .subscribe-footer .form-group {margin-bottom: 0px;}
    .subscribe-footer .form-control{border-radius: 0px;}
    .subscribe-footer .form-control:focus {border-color: #FE8825;box-shadow: none;}
    .subscribe-footer .btn-primary {border-radius: 0 5px 5px 0;}

    footer.footer-travellover a{text-decoration: none;}
    footer.footer-travellover .list-footer li { padding-left: 0px; margin-left: 0;}*/

